/* page.module.css */

.container {
  @apply flex flex-col items-center gap-6 lg:gap-8 p-10 lg:p-10;
}
.header {
  @apply text-3xl lg:text-8xl text-center font-black drop-shadow-lg;
}
.content {
  @apply flex lg:flex-row flex-col w-screen gap-3 lg:gap-3 p-10 lg:p-10 lg:items-stretch justify-center;
}
.choice-card {
  @apply ml-1 flex lg:self-auto lg:flex-row justify-center;
}
.restaurant-card {
  @apply mr-1 flex lg:self-auto lg:flex-row justify-center;
}
.background-image-text {
  background-image: url("/food-bg.jpg");
  background-clip: text;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.background-rats {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rat {
  position: absolute;
  width: 100px; /* Ajustez la taille selon vos besoins */
  height: 100px; /* Ajustez la taille selon vos besoins */
  background-size: cover;
}
