.review {
  width: 100%;
  height: 130px;
}

.evaluation {
  font-size: 25px;
}

.reviewContainerVisible > * {
  flex-shrink: 0;
}

.reviewContainerVisible {
  justify-content: center;
  display: flex;
  width: 500px;
}

.containerCommentAndAuthor {
  justify-content: space-between;
  display: flex;
}

.addComment {
  font-size: 10px;
  padding-left: 2px;
}

.author {
  font-style: italic;
  padding-right: 2px;
  font-family: Georgia, serif;
}

.comment {
  font-size: 14px;
  border-width: 5px;
  height: 50%;
  overflow-y: scroll;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
}
